/* .table-wrapper {
    margin: 57px 0 0 0; 
} */

table,
th,
td {
  border: 1px solid darkgray;
  text-align: left;
  font-size: .85rem;
}

table{
    border-collapse: collapse;
}

th {
    padding: 1rem;
    background-color: #E7EEF0;
  }

td{
    vertical-align: text-top;
    padding: .5rem;
}

.variable-name {
    min-width: 180px;
    max-width: 180px;
    overflow-wrap: break-word;
}

.variable-description {
    min-width: 500px;
    max-width: 500px;
}

.data-type {
    min-width: 180px;
    max-width: 180px;
}
