.button {
  float: right;
  background-color: #035c94;
  color: white;
  border: none;
  padding: 5px 13px;
  margin-top: 5px;
}

.button:hover {
  background-color: #7ebac0;
  color: white;
}

.details-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.details-card {
  display: flex;
  border: 1px solid darkgray;
  font-size: 16px;
  color: rgb(36, 41, 46);
  /* font-weight: 400; */
  line-height: 24px;
  margin: 0px 0px 16px;
  width: 27vw;
  padding: 5px 5px 0 5px;
  flex-flow: column wrap;
}

.details-card-wrapper {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.details-properties {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.details-properties > .title-property {
  overflow-wrap: anywhere;
}
.title-div {
  font-weight: bold;
}
