.button {
    float: right;
    background-color: #4051a3;
    color: white;
    border: none;
    padding: 5px 13px
}

.button:hover {
    background-color: #7E8DC6;
    color: white;
  }

.details-properties > .title-property{
    overflow-wrap: anywhere;
}
