.details-nav {
  display: flex;
  flex-direction: row;
  width: 75vw;
  margin: 3px 0;
}

.details-nav-button {
  background-color: transparent;
  border: none;
  border-right: 1px solid darkgray;
  padding: 12px 15px;
}

.details-nav-button:hover {
  background-color: #e7eef0;
}

.details-nav-button {
  cursor: pointer;
}
.details-navbar {
  margin: 30px 0 0 50px;
}

.details_nav_title {
  padding-left: 15px;
  font-size: 0.9rem;
  font-weight: bold;
}
