/* .table-wrapper {
    margin: 57px 0 0 0; 
} */

table,
th,
td {
  text-align: left;
  /* font-size: 0.85rem; */
}

table {
  border-collapse: collapse;
}

.table-header-DTD {
  padding: 1rem;
  background-color: #f2f2f2;
  border: 1px solid lightgray;
  /* font-size: 0.8rem; */
  border-left: transparent 1px solid;
  border-right: transparent 1px solid;
}

.table-cell-DTD {
  vertical-align: text-top;
  padding: 0.5rem;
  /* padding: 15px; */
  border: 1px solid lightgray;
  /* font-size: 0.8rem; */
  border-left: transparent 1px solid;
  border-right: transparent 1px solid;
}

.variable-name {
  min-width: 140px;
  max-width: 140px;
  overflow-wrap: break-word;
}

.variable-description {
  min-width: 450px;
  max-width: 450px;
}

.data-type {
  min-width: 140px;
  max-width: 140px;
}

.codeableConcept--closed {
  display: none;
}

.variable-summary {
  min-width: 80px;
  max-width: 80px;
}

.variable-summary-arrow {
  text-align: center;
}

.variable-summary-all {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sub-row--closed {
  max-height: 0px;
  opacity: 0;
  display: none;
}

.sub-row--open {
  opacity: 1;
  background-color: #f2f2f2;
}

.down-arrow {
  width: 15px;
  rotate: 3.142rad;
  transition-duration: 100ms;
  cursor: pointer;
}

.up-arrow {
  width: 15px;
  transition: rotate 100ms ease-in-out;
  cursor: pointer;
}
