.variable-summary-wrapper {
  display: flex;
  flex-direction: row;
}

.variable-summary-head {
  background-color: #e7eef0;
  border: none;
  font-size: 0.8rem;
}

.variable-summary-head-cell {
  padding: 5px 10px;
}

.variable-summary-cell {
  margin: 0 10px 0 20px;
}

.variable-summary-table {
  border-bottom: 2px #f0e9e7 solid;
}

.no-data-div {
  background-color: #f0e9e7;
  width: 825px;
}

.empty-column {
  min-width: 140px;
  max-width: 140px;
  background-color: white;
}

.no-data-cell {
  width: 685px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stop-sign {
  width: 20px;
  height: 20px;
  margin: 10px 8px 8px 0;
}
